<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}

    {% block javascripts %}

        <script src="https://kit.fontawesome.com/dd6e6a21ba.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
</head>
<body>
{% block navbar %}
    <nav class="navbar">
        <ul>
            <li class="item-container">
                <a class="navbar-item item-home" href="{{ path('home') }}">Accueil</a>
            </li>
            <li class="item-container">
                <a class="navbar-item item-article" href="{{ path('article') }}">Articles</a>
            </li>
            <li class="item-container">
                <a class="navbar-item item-nategory" href="{{ path('category') }}">Categories</a>
            </li>
            <li class="item-container">
                <a class="navbar-item item-twig" href="{{ path('twig') }}">Twig</a>
            </li>
        </ul>
    </nav>
{% endblock %}

<nav id="adminNavBar" class="admin-navbar">
    <ul>
        {% block navbarAdmin %}
            {% if is_granted('ROLE_USER') %}
                <li class="item-container">
                    <a class="admin-navbar-item item-logout" href=" {{ path('app_logout') }}">
                        <i title="Se déconnecter" class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
            {% endif %}
            <li class="item-container">
                <a class="admin-navbar-item item-login"
                   href="{% if is_granted('ROLE_USER') %} {{ path('user_profile') }} {% else %} {{ path('app_login') }} {% endif %}">
                    <i title="Voir son profil" class="far fa-user"></i>
                </a>
            </li>
        {% endblock %}
    </ul>
</nav>

<div class="container">
    {% block body %}{% endblock %}

    {% include 'aside.html.twig' %}
</div>


{% include 'footer.html.twig' %}
</body>
</html>
