{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}

<div class="body-wrapper">
    <h1>[{{ article.category.name }}] {{ article.title }}</h1>
    <p>{{ article.content }}</p>
    <p>Article publié le {{ article.creationDate|date('d/m/Y') }}</p>
    <div class="vote">
    <p>Que pensez-vous de cet article ?</p>
        <span id="up" data-id="{{ article.id }}" class="vote-up up">+</span>
        <span id="vote-number" class="vote-number">{{ article.voteCounter }}</span>
        <span id="down" data-id="{{ article.id }}" class="vote-down down">-</span>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async="true" src="{{ asset('js/vote.js') }}"></script>
{% endblock %}
