{% extends 'base.html.twig' %}

{% block navbarAdmin %}
    {{ parent() }}
    {% if is_granted('ROLE_USER') %}
        <li>
            <a class="admin-navbar-item item-update" href=" {{ path('update_article', { id: article.id }) }}">
                <i title="Modifier un article" class="fas fa-pencil-alt"></i>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <div class="body-wrapper">
        <h1>[{{ article.category.name }}] {{ article.title }}</h1>
        {# Filtre |raw pour afficher html généré par CKEditor ! #}
        <p>{{ article.content|raw }}</p>
        <p>Article publié le {{ article.creationDate|date('d/m/Y') }}
            par {{ article.user.firstName ~ ' ' ~ article.user.lastName }}</p>
        {% if article.lastModified is not null %}
            <p>Article modifié le {{ article.lastModified|date('d/m/Y') }} à {{ article.lastModified|date('H:i') }}
                par {{ article.lastModifiedBy.firstName ~ ' ' ~ article.lastModifiedBy.lastName }}</p>
        {% endif %}
        <div class="vote">
            <p>Que pensez-vous de cet article ?</p>
            <span id="up" data-id="{{ article.id }}" class="vote-up up">+</span>
            <span id="vote-number" class="vote-number">{{ article.voteCounter }}</span>
            <span id="down" data-id="{{ article.id }}" class="vote-down down">-</span>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async="true" src="{{ asset('js/vote.js') }}"></script>
{% endblock %}
