{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block navbarAdmin %}
    {{ parent() }}
    {% if is_granted('ROLE_USER') %}
        <li class="item-container">
            <a class="admin-navbar-item item-create" href=" {{ path('create') }}">
                <i title="Créer un nouvel article" class="fas fa-plus"></i>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block body %}

    <div class="body-wrapper">
        <h1>{{ title }} {% if q is not null %} avec "{{ q }}" {% endif %}</h1>
        <p>Il y a {{ articles|length }} résultat{% if articles|length > 1 %}s{% endif %} :</p>
        {% if articles != false %}
            {% for article in articles %}
                <section class="article-preview">
                    <h3>
                        <a {{ article.creationDate|date('U') > "-7 days"|date('U') ? "class=\"new-article\" " : "" }}href="{{ path("article_detail", { id : article.id }) }}">{{ article.title }}</a>
                    </h3>
                    <p class="creation-date">Publié le {{ article.creationDate|date('d/m/Y') }} - Catégorie
                        : {{ article.category.name }}</p>
                    {% if article.content|length > 300 %}
                        <p>{{ article.content|slice(0,300)|raw ~ '...' }}</p>
                        <p><a href="{{ path("article_detail", { id : article.id }) }}">Lire
                                l'article "{{ article.title }}"</a></p>
                    {% else %}
                        <p>{{ article.content|raw }}</p>
                    {% endif %}

                </section>
            {% endfor %}
        {% else %}
            <p>Aucun article ne correspond à votre recherche "{{ q }}".</p>
            <a href="{{ path('article') }}">Revenir à la liste des articles</a>
        {% endif %}
    </div>

{% endblock %}
